<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - QueenCheck</title>
    <link rel="stylesheet" type="text/css" href="/QueenCheck/css/main.css">
    <link rel="stylesheet" type="text/css" href="/QueenCheck/css/syntax.css">
  </head>
  <body>
    <h1 id="brand">QueenCheck</h1>
    <nav id="global">
      <li><a href="/QueenCheck/">About</a></li>
      <li><a href="/QueenCheck/guide">Guide</a></li>
      <li><a href="/QueenCheck/reference">Reference</a></li>
    </nav>

    <article>
      {{ content }}
    </article>

    <footer>
      <address><a href="http://twitter.com/rosylilly">@rosylilly</a> | <a href="http://rosylilly.github.com">rosylilly.github.com</a></address>
      <p>Icon by <a href="http://www.defaulticon.com/">DefaultIcon</a></p>
      <p>Texture by <a href="http://bashcorpo.deviantart.com/art/Grungy-paper-texture-v-5-22966998">Grungy paper texture v.5</a></p>
    </footer>
  </body>
</html>
